body {
  background-color: black;
}

div {
  height: 200px;
  width: 200px;
  background-color: skyblue;
  font-family: cursive;
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  position: fixed;
  top: 100px;
  left: 500px;
  animation: colorAnimate 5s ease 2 alternate-reverse;
}

@keyframes colorAnimate {
  from {
    background-color: skyblue;
    left: -100px;
  }
  to {
    background-color: green;
    left: 120%;
    /* rotate: 360deg; */
  }
}
